{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">

    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
<div>
<h1>О нас</h1>
    <p>Мы – это професссиональная команда дизайнеров, строителей, мебельщиков и мэйкеров других предметов интерьера.</p>
    <img src="{% static 'main/img/ourTeam.jpg' %}" alt="Наша команда" id="teamImg" width="792" height="436">
</div>
</body>
</html>