{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
<h1>Контакты</h1>
<div>
    <h4>Адрес</h4>
    <h5>Наш <em>головной офис</em> расположен в Москве по адресу: Волоколамское шоссе, д. 23с2</h5>
    <img src="{% static 'main/img/map.png' %}" alt="карта">
    <br><h4>Номер телфона:</h4>
    <h5>+79996321047</h5>
    <br><h4 style="color: greenyellow;font-family: 'Calibri Light',serif; ">Instagram:</h4>
    <h6>@mikarpechenkov</h6>
</div>
</body>
</html>